.git
.github
.gradle
.idea
.agents
.claude
.codex
.copilot
.gemini
.junie
**/build
**/out
**/.env
**/.env.*
**/application-local.*
local.properties
captures
snapshots
app
docs
*.iml
*.iws
*.ipr
.DS_Store
